body{
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
    margin: 0%;
    padding: 0%;
    background-color: #ebebeb;
}
.home-body{
    position: fixed; 
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; 
}

a{
    text-decoration: none;
    display: inline;
    color: black;
}

header{
    width: 100%;
    height: 140px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.header-icons-container{
    width: 100%;
    height: 50px;
    display: grid;
    background-color: #f57000;
}

.icons{
    width:250px;
    height: auto;
    display: flex;
    justify-items: flex-end;
    align-items: center;
    justify-content: space-between;
    justify-self: end;
    margin-right:50px ;
    transition: 0.2s;
}
.icons a:hover{
    font-size: 18px;
}

.icons span{
    color: white;
}

nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 90px;
}

.nav-logo-container{
    margin-left: 50px;
}
.nav-logo-container img{
    width: 250px;
    height: auto;
}
.profile-link{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 80px;
}
.profile-link a{
    color: black;
    border-bottom: 1px solid black;
    transition: 0.2s;
}
.profile-link a:hover{
    font-size: 18px;
}

.home-main{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    height: 100%;
    background-image: url('../assets/img/Cover.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.home-main section{
    display: grid;
    grid-column: 2;
    justify-content: center ;
    height: 350px;
    margin-top: 100px;
}
.home-main-title{
    margin-top: -80px;
    font-family: 'Roboto Mono', monospace;
    color: white;
}
.home-main-title h1{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 3px;
}
.home-main-button{
    width: 150px;
    height: 30px;
    justify-self: center;
    border: 1px solid #f67000;
    border-radius: 20px;
    background: #48cbaa;
    color: white;
    font-weight: 500;
    transition: 0.4s;
}
.home-main-button:hover{
    width: 155px;
    height: 35px;
    font-weight:900;
    font-size: 20px ;
}

.blogs-main{
    display: grid;
}

.blogs-news-container{
    background-color: white;
    padding: 0 108px 40px;
}
.blogs-main-news{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr;
}
.blogs-news-img-container{
    grid-column: 1;
}
.blogs-news-img-container img{
    width: 85%;
    border-radius: 5%;
    box-shadow: 5px 14px 8px grey
}
.blogs-news-info-container{
    grid-column: 2;
}
.blogs-news-info-container p{
    margin-bottom: 35px;
}
.blogs-posts-container{
    padding: 0 108px 40px;
}
.blogs-posts-news{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr;
}
.blogs-posts-container h2{
    border-bottom: 1px solid grey;
    padding-bottom: 20px;
    text-align: center;
}
.blogs-button{
    border: 1px solid green;
    padding: 10px 15px;
    font-size: 12px;
    transition: 0.2s;
}
.blogs-button:hover{
    box-shadow: 0px 6px 10px 0px black;
}
/* .post-container img{
    width: 120px;
    height: 100px;
    object-fit: cover;
} */
.blogs-posts-container .post-container{
    display: inline-block;
    padding-left: 10px;
    max-width: 100%;
    margin-bottom: 50px;
}
.blogs-posts-container .post-container p{
    margin-bottom: 30px;
}
.blogs-posts-container .post-container img{
    width: 100%;
    /* object-fit: cover; */
    height: auto;
    border-radius: 5%;
}
.blogs-posts-container .post-container img:hover{
    box-shadow: 5px 14px 8px grey
}
.grid-container{
    max-width: 980px;
    margin: auto;
}

footer{
    width: 100%;
    height: 50px;
    background-color: #adadad   ;
    border-top: 36px solid #f67000;
    text-align: center;
    justify-self: center;
}

.blogpost-img-container{
    padding: 0 50px 40px;
}
.blogpost-img-container img{
    width: 100%;
}
.blogpost-main-container{
    padding: 0 50px 40px;
}
.blogpost-main-container h3{
    border-bottom: 1px solid grey;
    padding-bottom: 20px;
}
.blogpost-main-container article h1{
    padding-bottom: 12px;
    font-size: 35px;
}

.contact-main-container{
    width: 100%;
    background-color: grey;
    min-height: 200px;
    text-align: center;
    padding-bottom: 50px;
}
.contact-main-container div{
    display: inline-block;
    width: 49.5%;
    height: 100%;
}

.contact-main-container div a{
    border-bottom: 1px  solid black;
    padding-bottom: 5px;
}
.contact-main-container .contact-left, .contact-right{
    text-align: initial;
    margin-top: 85px;
    margin-left: 12px;
    /* transition: 0.2s;  Como  hacer que no se muevan los elementos al rededor*/
}
/* .contact-left a:hover{
    font-size: 18px;
} */
.contact-main-container img{
    width: 100px;
}

.profile-main-container{
    padding: 70px 40px;
    background-color: grey;
    margin-bottom: 50px;
}

.profile-main-container img{
    width: 320px;
    margin-right: 30px;
    border-radius: 5%;
}
.profile-main-container .profile-container{
    display: flex;
}

.profile-main-proyects{
    padding: 0 50px 40px;
}
.profile-main-proyects h3{
    border-bottom: 1px solid grey;
    padding-bottom: 35px;
    text-align: center;
}
.proyects-main-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.proyect-container{
    padding: 0 5px;
}